*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(empo_back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ffd700;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}

ul li a:hover{
    color: #ffd700;
}

.employer-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    top: 25px;
    left: 1050px;
}

.input-container {
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    bottom: -10px;
    left: 50px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.input-container h2,
.listed-jobs h2,
.review-jobs h2 {
    width: 260px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.input-container input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffd700;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.input-container input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}
.input-container button{
        width: 240px;
        height: 40px;
        background: #ffd700;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: 0.4s ease;
}

.listed-jobs {
        width: 300px;
        height: 450px;
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        position: absolute;
        bottom: -10px;
        left: 475px;
        transform: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
    }

.review-jobs {
        width: 300px;
        height: 450px;
        background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
        position: absolute;
        bottom: -10px;
        left: 900px;
        transform: translate(0%,-5%);
        border-radius: 10px;
        padding: 25px;
}

.review-jobs button{
        width: 300px;
        height: 40px;
        background: #ffd700;
        border: none;
        margin-top: 30px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
        color: #fff;
        transition: 0.4s ease;
    }
.input-container button:hover{
    background: #fff;
    color: #ffd700;
}

.review-jobs button:hover{
    background: #fff;
    color: #ffd700 ;
}