*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(empo_back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #ffd700;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    white-space: nowrap;
}

ul li a:hover{
    color: #ffd700;
}

.jobseeker-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    top: 25px;
    left: 1050px;
}

.search {
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    bottom: -10px;
    left: 50px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.search h1,
.jobResultContainer h1,
.apply h1 {
    width: 260px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.search input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.search input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
    text-align: left;
}

.search button{
    width: 240px;
    height: 40px;
    background: #ffd700;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.jobResultContainer{
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    bottom: -10px;
    left: 475px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.jobResultContainer h2 {
    width: 260px;
    font-family: sans-serif;
    text-align: center;
    color: #ffd700;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.apply {
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    bottom: -10px;
    left: 900px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}
.apply input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ffd700;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.apply input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
    text-align: left;
}

.apply button{
    width: 240px;
    height: 40px;
    background: #ffd700;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

label[for="coverLetter"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
    text-align: left;
}

label[for="resume"] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
    font-weight: bold;
}

.search button:hover{
    background: #fff;
    color: #ffd700;
}

.apply button:hover{
    background: #fff;
    color: #ffd700 ;
}